*{
    padding: o; 
    margin:0; 
    font-size: 16px; 

    text-decoration: none;
    font-family: arial;
    box-sizing: border-box;
}
body{}
ul{ list-style: none; }

.connaiter {
    width: 1000px;  
    margin: 0 auto;
}
#top-bar { 
    float:left;
    width: 100%;
    background: #444;
    color:#fff;
    position: fixed;
}
nav {
    float:left;
    width:100%;
}
nav ul, nav li {
    float:left;
}
nav a{
    color:#fff;
    padding:5px 10px;;
    float:left;
}
#home{
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    margin-left: -49px;
}
.menu1{
    margin-top: 30px;
}
.nav-a{
    padding: 5px 20px;
    margin-top: 22px;
}
#content{
    float:left;
    width:100%;
    background: #ebebeb;
    margin-top: 74px;
}
#i_content{
    float:left;
    width:100%;
}
#left_content{
    float:left;
    width:250px;
    font-family: tahoma !important; 
    margin-top: 15px;
    margin-bottom: 10px;
}
#left_content form{
    float: left;
    width:100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #cdcdcd; 
    padding-bottom: 10px;
}
#right_content{
    float:left;
    width:739px;
    border-left: 1px solid #cdcdcd; 
    margin-left: 10px;
    margin-top: 15px;
    min-height: 800px;
}

#is{
    width: 75%;
    float: left;
    font-family: tahoma;
    font-size: 12px;
    padding:7px;
    border:none;
    outline: none;
}
.tbn{
    width: 25%;
    border: none;
    font-family: tahoma;
    background: #f0523f;
    color: #fff;
    font-size: 12px;
    padding:7px;
    outline: none;
    cursor: pointer;
}
#right_content h4{
    font-size: 23px;
    margin-left: 10px;
    border-bottom: solid 1px #cdcdcd;
    padding-bottom: 10px;
    font-family: arial;
}
#tab{
    float: left;
    margin: 10px;
    width:100%;
}
#tab a{
    padding:5px;
    background: none;
    color:#444; 
    margin-left: 5px;
}
#tab a:hover{
    background: #f0523f;
    color:#fff; 
}
#tab p{
    float:left;
}

.status {
    width:99%;
    float:left;
    padding:10px;
    background: #fff;
    margin-bottom: 15px;
    margin-left: 10px;
}

.status img {
    width:47px;
    height:50px;
    float:left;
    margin-right: 10px;
    border:solid 1px #cdcdcd;
}
.i_status {
    width:617px;
    float:left;
}
.i_status a{
    color:#444;
    font-size: 14px;
}
.like {
    width:34px;
    height:38px;
    background: #cdcdcd;
    float:left;
    line-height: 38px;
    font-size: 12px;
    color:#fff;
    text-align: center;
}
.post b { 
    font-size: 12px !important;
    color:#cdcdcd;
}
.post span{
  font-family: fantasy;
  font-size: 12px;
  color:#cdcdcd;
}

#pagination,#pagination ul {
    float:left;
    width:100%;
    padding:0px;
}
#pagination li a{
    padding:10px;
    color: #444;
}
#pagination li a:hover {
    background: #f0523f;
    color:#fff;
}

/*
*
*Index2
*
*/

#posts {
    width:729px;
    float:left;
    margin: 10px 0px 10px 10px;
    background: #fff;
}
#posts>h5 { 
    width: 710px;
    float:left;
    margin: 10px 0px 10px 10px;
    border-bottom: solid 1px #cdcdcd;
    padding:10px 0px;
}
#posts>p {
    width: 710px;
    float:left;
    margin: 10px 0px 10px 10px;
    font-size: 13px;
}

.status_2 {
    width: 99%;
    float: left;
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;
    margin-left: 10px;
    line-height: 30px;
}
.status_2 img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    border: solid 1px #cdcdcd;
}
.status_2 a {
    color:#444;
}

/*
*
*Up load
*
*/
.input,.textarea {
    width:720px;
    float:left;
    outline: none;
    padding: 5px;
    margin: 10px 0px 10px 10px;
}
.s {
    float:left;
    margin: 0px 0px 10px 10px;
    border:none;
    outline: none;
    background: #f0523f;
    color:#fff;
}
.full_width{
    width:709px;
    float:left;
    outline: none;
    margin: 0px 0px 10px 10px;
}
footer {
    width:100%;
    float:left;
    height:100px;
    background: #cdcdcd;
}

#regu{
    width:100%;
    float:left;
    margin-top: 10px;
}